#  _______   _______
# |  _____| |  ___  |
# | |       | |   | |
# | |       | |___| |
# |_|       |_______|
#  _         _______     Rolando Ramos Torres (@rolodoom)
# | |       |  ___  |    https://github.com/rolodoom
# | |       | |   | |
# | |_____  | |___| |
# |_______| |_______|
#
# A customized .nanorc for nano (https://www.nano-editor.org/)

# Set spell checker for local account
set speller "aspell -x -c"
set softwrap
set linenumbers
