#  _______   _______
# |  _____| |  ___  |
# | |       | |   | |
# | |       | |___| |
# |_|       |_______|
#  _         _______     Rolando Ramos Torres (@rolodoom)
# | |       |  ___  |    https://github.com/rolodoom
# | |       | |   | |
# | |_____  | |___| |
# |_______| |_______|
#
# A customized .nanorc for nano (https://www.nano-editor.org/)

include /usr/share/nano-syntax-highlighting/*.nanorc
set constantshow
set softwrap
set linenumbers
